# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# RStudio files
.Rproj.user/

# Rendered reports
analysis/*.html
analysis/*.docx
analysis/*.tex
reports/*.docx
reports/*.pdf

# output files
output/

# data files
data/

# knitr and R markdown default cache directories
/analysis/cache/
/analysis/figures/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio
.Rproj.user

# Tableau temp files
*.twbr

# Python temp files
__pycache__
*.pytest_cache/

# Jupyter temp files
.ipynb_checkpoints

# Python security check temp db
safety-db

# OS specific files
.DS_Store
Thumbs.db

#I normally don't want data files, but this one I specifically want to distribute because it's appropriate for distribution
!data/raw/county_pop_demo_for_verify.csv
